html
{
	margin: 0;
	padding: 0;
}
.clearfix
{
	clear: both;
}
@font-face
{
	font-family: latoR;
	src: url('../fonts/Lato-Reg_0.ttf');
}
@font-face
{
	font-family: Eras;
	src: url('../fonts/ErasITC-Medium.ttf');
}
@font-face
{
	font-family: lato;
	src: url('../fonts/Lato-Lig_0.ttf');
}
body
{
	font-family: lato;
	font-size: 16px;
}
#wrapper
{
	width: 900px;
	margin: auto;
}
.table
{
	width: 900px;
}
#logo
{
	float: left;
	margin: 20px 0 0 46px;
}
.last
{
	text-align: right;
}
header
{
	margin-bottom: 10px;
}
#headerRight
{
	float: right;
	margin: 20px 55px 0 0;
}
#headerRight h2
{
	font-family: Eras;
	font-size: 30px;
	color: #ec1c24;
	margin: 0;
	padding: 0;
	text-align: right;
	margin-top: 15px;
}
#headerRight p
{
	font-size: 14px;
	text-align: right;
	margin: 0;
	font-family: latoR;
}
#heading
{
	background-color: #f6f5f5;
	min-height: 90px;
}
.row
{
	width: 100%;
}
.col-md-6
{
	width: 392px;
	float: left;
}
#heading h1
{
	font-size: 55px;
	font-family: lato;
	margin: 0 0 0 50px;
	padding: 0;
	line-height: 90px;
	float: left;
}
#heading h1 span
{
	font-size: 40px;
	font-weight: bold;
}
#heading h3
{
	font-size: 29px;
	color: #ec1c24;
	float: right;
	font-family: latoR;
	margin: 0 50px 0 0;
	line-height: 90px;
}
#content
{
	margin-top: 30px;
}
.info p:nth-child(1)
{
	text-align: right;
	font-family: lato;
	font-size: 20px;
	float: left;
	width: 182px;
}
.info p:nth-child(2)
{
	text-align: left;
	font-family: latoR;
	font-size: 20px;
	float: left;
}
.contentRight
{
	border: 1px solid #dad8d8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 15px 30px;
	margin-right: 30px;
	min-height: 233px;
}
.contentRight p
{
	font-size: 20px;
}
.latoR
{
	font-family: latoR;
}
.lato
{
	font-family: lato;
}
#table
{
	margin-top: 20px;
}
#table tr td
{
	font-size: 25px;
	font-family: lato;
	text-align: center;
}
.table tr:last-child td
{
	border: none;
	background-color: #f6f5f5;
	font-size: 25px;
	font-family: latoR !important;
	font-weight: bold;
	text-align: center;
}
.table tr:first-child td
{
	border: none;
	background-color: #f6f5f5;
	font-size: 25px;
	font-family: lato;
	font-weight: bold;
	text-align: center;
}
footer
{
	min-height: 70px;
	background-color: #ec1c24;
}
#contentBottom
{
	position: relative;
}
#thank
{	
	font-family: latoR;
	font-size: 25px;
	color: #ec1c24;
	margin: 60px 70px 70px 70px;
}
#bottomRight
{
	min-height: 120px;
	background-color: #ec1c24;
	padding: 25px;
	position: absolute;
	bottom: 0;
	right: 20px;
}
#bottomRight p
{
	text-align: right;
	color: #fff;
	font-size: 16px;
	font-family: lato;
}
footer p:nth-child(2)
{
	float: right;
	color: #fff;
	font-size: 22px;
	font-family: lato;
	margin: 0;
	margin-right: 55px;
	line-height: 70px;
}
footer p:nth-child(1)
{
	float: left;
	color: #fff;
	font-size: 22px;
	font-family: lato;
	margin: 0;
	margin-left: 46px;
	line-height: 70px;
}
#tableMobile
{
	display: none;
}
