	<?php
	#include '../../../emvs6/includes/dbcon.php';
		$sql = $dbh->prepare("select * from visitstable where Id='16'");
		$sql->execute();
		$data = $sql->fetch();
		?>	
<div style="width:93%; border:7px solid #000; padding:20px;">
<!--Row-->
<div style="width:100%;">
<div style="width:45%;border:1px solid #000;padding:5px;">LAST VISIT : <?php echo $data['uscountry'];?></div>
<div style="width:20%;padding:5px;margin-top:-25px;margin-left:410px;">Driver : <div style="width:100%;padding-bottom:2px; border-bottom: 1px solid #000000;"><?php echo $data['uscountry'];?></div></div>
</div>
<!--Row-->
<div style="width:100%;">
<div style="width:100%;padding:5px;font-size:20px;font-weight:bold;padding-left:250px;">Registration of Identity</div>
</div>
<!--Row-->
<div style="width:100%;">
<div style="width:15%;padding:5px;">No : 1000</div>
<div style="width:28%;;padding:5px;margin-top:-25px;margin-left:110px;">Today's Date : &nbsp;<div style="width:45%;padding-bottom:2px; border-bottom: 1px solid #000000;">01-Jun-2005</div></div>
<div style="width:55%;padding:5px;margin-top:-29px;margin-left:310px;">authorized period from : &nbsp;<div style="width:23%;padding-bottom:2px; border-bottom: 1px solid #000000;">01-Jun-2005</div> <div style="width:38%;margin-top:-19px;margin-left:248px;">to &nbsp;<div style="width:62%;padding-bottom:2px; border-bottom: 1px solid #000000;"> 01-Jun-2005</div></div></div>
</div>
<div style="width:100%;padding:5px;">test</div>
<div style="width:100%;border:1px solid #000;padding:5px;">test</div>
<div style="width:100%;border:1px solid #000;padding:5px;">test</div>
</div>
<table style="width:100%; border:7px solid #000; padding:20px;">
   
		           
		   			
            <tr>
				<td style="width:25%;border:1px solid #000; padding:8px;" colspan="4"> LAST VISIT: <?php echo $data['uscountry'];?></td>
                	
                <td style="width:25%; padding:8px;"> Driver:</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<td style="width:25%; padding:8px;border-bottom:1px solid #000" colspan="4"><?php echo $data['uscountry'];?></td>
                				
            </tr>    
			<tr>
				<td style="border:1px solid red;width:70%;" align="center" colspan="8"><h3> Registration of Identity</h3></td>
            </tr>   
			<tr>
				<td style="border:0px solid red;width:5%;"> No:</td>
                <td style="border:0px solid red;width:15%;"><u><?php echo $data['regdate'];?></u></td>
				<td style="border:0px solid red;width:15%;" > Today's Date:</td>
                <td style="border:0px solid red;width:15%;"><u><?php echo $data['regdate'];?></u></td>
				<td style="border:0px solid red;width:25%;" > Authorized Period From:</td>
                <td style="border:0px solid red;width:10%;"><u><?php echo $data['uscountry'];?></u></td>   
				<td style="border:0px solid red;width:5%;" > To:</td>
                <td style="border:0px solid red;width:10%;"><u><?php echo $data['zipcode'];?></u></td>
            </tr>
			   <tr>
			   <td style="border:0px solid red;width:5%;" colspan="2"> Name of Collector:</td>
                    <td style="border:0px solid red;width:50%;" colspan="6">
                        <?php echo $data['usaddress1'];?>
                    </td>
                </tr>
			<tr>
				<td style="border:1px solid red;width:20%;" colspan="2"> Permanemt Address and Phone:</td>
                <td style="border:1px solid red;width:10%;" colspan="3"><u><?php echo $data['uscountry'];?></u></td>	
                <td style="border:1px solid red;width:10%;" colspan="1"> Phone:</td>
                <td style="border:1px solid red;width:5%;" colspan="2"><u><?php echo $data['uscountry'];?></u></td>					
            </tr>
						
			
            </table>
			
        